<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/homecss.css" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    
   <style type="text/css">
   body
   {
   background-image: url("images/list.jpg");

    background-size: 100% 100%;
    
   }
   </style>
  </head>

  <body class="alignleft" >

    <div class="grid">
<p align="left" style="font-size:40pt; ; ;color:white ; font-family: fantasy;">Welcome to Movieflix, a complete collection of movies and shows....</p>
<br>
<a href="Login.html" class="btn btn-default">Sign In</a>
<a href="Signup.html" class="btn btn-primary">Sign Up</a>